*{
    margin: 0;
    padding: 0;
    border: 1px solid red;
}
.hero-img{
  background-size: 150px;
  width:50%;

  border: 2px solid;
}
textarea{
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
}

.hero{
    display: flex;
    div{
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
    p{
        text-align: center;
    }
}
#logo{
    display: flex;
}
