*{
    margin: 0;
    padding: 0;
    border: 1px solid red;
}
img{
    width: 5%;
}
ul{
   justify-content: space-between;
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family:'Times New Roman', Times, serif;
}